* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
cursor: pointer;
}

.nava-box {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: inline-flex;
    align-items: center;
    background-image: linear-gradient(to right , #333 , #222);
    border-radius: 50px;
    padding: 4px 6px 6px 6px; 
}

.nava-box > div {
margin: 5px;
}

.nava-btn {

    border-radius: 50px;
    color: white;
    padding: 4px;
    margin: 0 2px;
}

.nava-play-btn {
    background-color: white;
    color: #333;
}

.nava-title {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.nava-title * {
    color: white;
    font-weight: normal;
}

.nava-range input[type="range"] {
    height: 3px;
    -webkit-appearance: none; 
    width: 100%; 
    background: transparent;
    background-color: white;
    border-radius: 10px;
}

.nava-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    background-color: white;
    border-radius: 20px;
    height: 12px;
    width: 12px;
}